* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
    /* Свойства для сброса начальных стилей элементов */
}
html,
body {
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    color: #303030;
}

.hw2-header {
    padding: 23px 0px;
    width: 1440px;
height: 70px;
background-color: #2965f1;
    /* Стили для хедера */
}

.header-span {
    padding: 23px 0px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    color:  #fafaff;
    padding: 60px 0px 60px;
    width: 1440px;
height: 1024px;
    /* Стили для первой секции */
}

.main-title {
font-weight: 700;
font-size: 48px;
color: #303030;
margin-bottom: 20px;
   /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
font-size: 18px;
color: #303030;
margin-bottom: 0px;  /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: #fff;
    padding: 100px 0px;
    /* Стили для второй секции */
}

.hw2-select-pre {
    width: 150px;
height: 36px;
padding: 0px;
background-image: url(img/ep_arrow-down.svg);
font-weight: 400;
font-size: 16px;
color: #303030;
border: none;
appearance: none;
background-repeat: no-repeat;
background-position: right 10px center ;
background-color:  #fff;;/* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
font-size: 24px;
color: #303030;
margin: 0px 0px 25px 0px;/* Стили для заголовков во второй секции */
}

.frameworks-list {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
width: 80px;
height: 57px;
list-style-image: none;
padding: 0px 20px ;

/* Стили для маркированного списка во второй секции */
}

.books-list {
    width: 670px;
height: 57px;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
list-style-image: none;
padding: 0px 20px;
white-space: nowrap;
    /* Стили для нумерованного списка во второй секции */
}

.label {
   width: 475px;
height: 19px;
display: inline;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 4px; 
background: #fff;/* Стили для подписей чекбоксов */
}

.text-field {
    width: 330px;
height: 36px;
font-weight: 400;
font-size: 16px;
background: rgba(255, 255, 255, 0);
padding: 9px 215px 8px 15px;
background: transparent;
border-radius: 5px;
border: 1px solid rgba(48, 48, 48, 0.3);
border-radius: 5px;
/* Стили для односточного поля ввода текста */
}

.btn {
    border-radius: 5px;
width: 125px;
height: 36px;
font-weight: 700;
font-size: 14px;
color: #fff;
background-color: #2965f1;/* Стили для кнопки */
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
width: 1440px;
height: 0px;
    margin-top: 60px;
    margin-bottom: 60px;/* Стили для линии */
}

.table {
    width: 300px;
height: 196px;
border-collapse: collapse;
font-size: 14px;
/* Стили для таблицы */
}

.th {
    border: 1px solid #95a1bb;
width: 55px;
height: 40px;
padding: 12px 16px;
white-space: nowrap;
font-weight: 700;
font-size: 14px;
/* Стили для ячеек таблицы */
}

.td {
       border: 1px solid #95a1bb;
width: 55px;
height: 40px;
padding: 12px 16px;
white-space: nowrap; 
font-weight: 400;
font-size: 14px;
}

.footer {
    width: 1440px;
height: 70px;
background: rgba(163, 167, 255, 0.3);
padding: 26px 0px;
padding: ;/* Стили для футера */
}

.footer-link {
position: absolute;
font-weight: 400;
font-size: 14px;
color: #2965f1;
text-decoration: none;/* Стили для футера */
}
